<!DOCTYPE html>
<html>

<head>
  <%- include("../views/partials/head.ejs") %>
</head>

<body>
  <% if(!currentUser){ %>
    <%- include('../views/partials/login.ejs') %>
  <% } else { %>
    <%- include('../views/partials/nav.ejs') %>
    <%- include('../views/partials/dash.ejs') %>
    <% } %>
   
    
      <ul>
        <% for(let i=0; i< shifts.length; i++) { %>
          <li><a href='/<%= shifts[i].id%>'><%=shifts[i].name%> </a>
          </li>
          <%}%>
      </ul>
 
  
    <%- include("../views/partials/footer.ejs") %>
</body>

</html>